{{#link-to "data-services.data-service" service.name class="nav-link"}}
<div class="data-service">
  <i class="fa {{service.icon}}" aria-hidden="true"></i>
  <span>{{service.name}}</span>
  <div>{{service.accountsCount}}</div>
</div>
{{/link-to}}