<div class="card-header">
  <i class="fa fa-info" aria-hidden="true"></i>
  <span>Information</span>
</div>
<div class="card-block">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card text-xs-center">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-calendar" aria-hidden="true"></i></h4>
          <p class="card-text">{{model.eventsCount}}<br>Events</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card text-xs-center">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-commenting" aria-hidden="true"></i></h4>
          <p class="card-text">{{model.messagesCount}}<br>Messages</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card text-xs-center">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-users" aria-hidden="true"></i></h4>
          <p class="card-text">{{model.agentsCount}}<br>Agents</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card text-xs-center">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i></h4>
          <p class="card-text">{{model.locationsCount}}<br>Locations</p>
        </div>
      </div>
    </div>
  </div>
</div>
