<form class="card" action="{{apiEndpoint}}/imap" method="POST" enctype="multipart/form-data">
  <div class="card-header">IMAP server</div>
  <div class="card-block">
    <div class="form-group">
      <label for="host">Host</label>
      <input type="text" id="host" name="host" required class="form-control"/>
    </div>
    <div class="form-group">
      <label for="user">User (usually the email address)</label>
      <input type="text" id="user" name="user" required class="form-control"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required class="form-control"/>
    </div>
    <div class="form-group">
      <label class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="ssl" name="ssl" value="true" checked/>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Use SSL</span>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Retrieve</button>
  </div>
</form>
