<ul class="external-services-listing list-group list-group-flush">
  <li class="list-group-item">
    <a class="external-connect-link" href="{{apiEndpoint}}/oauth/google/auth">
      <i class="fa fa-google"></i>
      Google
    </a>
  </li>
  <li class="list-group-item">
    <a class="external-connect-link" href="{{apiEndpoint}}/oauth/microsoft/auth">
      <i class="fa fa-windows"></i>
      Microsoft
    </a>
  </li>
  <li class="list-group-item">
    <a class="external-connect-link" href="{{apiEndpoint}}/oauth/facebook/auth">
      <i class="fa fa-facebook"></i>
      Facebook
    </a>
  </li>
</ul>