<ul class="external-services-listing list-group list-group-flush">
  <li class="list-group-item">
    {{external-service-link serviceName="google" iconCssClass="fa-google" label="Google"}}
  </li>
  <li class="list-group-item">
    {{external-service-link serviceName="microsoft" iconCssClass="fa-windows" label="Microsoft"}}
  </li>
  <li class="list-group-item">
    {{external-service-link serviceName="facebook" iconCssClass="fa-facebook" label="Facebook"}}
  </li>
</ul>