<div class="card">
  <div class="card-header">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>Accounts</span>
  </div>
  <div class="card-block">
    <div>
      <a class="external-connect-link" href="{{apiEndpoint}}/oauth/{{model.routeName}}/auth">
        <i class="fa fa-plus"></i>
        <span>Add account</span>
      </a>
    </div>
    {{data-service-accounts model=model}}
  </div>
</div>