<td class="sparql-history-copy-cell"><button class="btn btn-sm btn-secondary" {{action "openQuery"}}><i class="fa fa-clone"></i></button></td>
<td class="sparql-history-time-cell">{{moment-format query.time 'L - LTS'}}</td>
<td class="sparql-history-content-cell">{{query.contentShort}}</td>