<div class="system-status">
  {{#cp-panel as |panel|}}
    {{#panel.toggle}}
      <p>Show system status</p>
    {{/panel.toggle}}

    {{#panel.body}}
      <table>
        {{#each tasks as |task|}}
          {{system-task task=task}}
        {{/each}}
      </table>
    {{/panel.body}}
  {{/cp-panel}}
</div>