<div class="system-status">
  {{#cp-panel as |panel|}}
    {{#panel.toggle}}
      <p>Show system status</p>
    {{/panel.toggle}}

    {{#panel.body}}
      {{#if tasks}}
        <table class="tasks-table">
            {{#each tasks as |task|}}
              {{system-task task=task}}
            {{/each}}
        </table>
      {{else}}
        <div class="no-tasks-message">There are currently no tasks running.</div>
      {{/if}}
    {{/panel.body}}
  {{/cp-panel}}
</div>