<div class="system-status">
  {{#cp-panel as |panel|}}
    {{#panel.toggle}}
      <p>Show system status</p>
    {{/panel.toggle}}

    {{#panel.body}}
      <div>
        <p>System status place holder. Under construction...</p>
      </div>
    {{/panel.body}}
  {{/cp-panel}}
</div>