$custom-file-text: (
  placeholder: (
    en: ""
  ),
  button-label: (
    en: "Browse"
  )
);

@import 'bower_components/bootstrap/scss/bootstrap-flex';
@import "rdf-json";
@import "responsive-svg";
@import "sparql-result";
@import "map";
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';
@import "timeline";
@import "loading";

body {
  padding-top: 70px;
}

.panel-heading-nav .panel-title {
  padding-top: 8px;
}