$custom-file-text: (
  placeholder: (
    en: ""
  ),
  button-label: (
    en: "Browse"
  )
);

@import 'bower_components/bootstrap/scss/bootstrap-flex';
@import "rdf-json";
@import "responsive-svg";
@import "sparql-result";
@import "map";
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';
@import "timeline";
@import "loading";
@import "components/external-services-listing";

body, html{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  box-sizing: border-box;
}

.app{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.app-header{
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  z-index: 10;
  .navbar{
    border-radius: 0;
  }
}

.app-body {
  overflow: auto;
  flex: 1;
}