// Navbar

// Navbar :: new variables
$app-color1:                        #8AD6E8 !default;
$app-color2:                        #5ABFD7 !default;
$app-color3:                        #37ACC8 !default;
$app-color4:                        #179AB9 !default;
$app-color5:                        #047994 !default;

$navbar-brand-padding-x:            1rem !default;
$navbar-brand-background-color:     rgba(255,255,255,1) !default;
$navbar-brand-color:                $app-color5;

$navbar-dark-background-color:      $app-color2;

// Navbar :: override variables
$navbar-padding-y:                  0;
$navbar-padding-x:                  0;

$navbar-dark-hover-color:           $app-color5;
$navbar-dark-active-color:          white;

.app-header {
    border-bottom: 1px solid $app-color5;
    
    & .navbar {
        &.navbar-dark {
            background-color: $navbar-dark-background-color;
        }
        
        & a {
            padding-top: .75rem;
            padding-bottom: .75rem;
            text-transform: uppercase;
        }
             
        & a, & i {
            font-weight: 500;   
            font-size: 1.25rem;
        }  
        
        & .navbar-brand {
            padding-left: $navbar-brand-padding-x;
            padding-right: $navbar-brand-padding-x;
            background-color: $navbar-brand-background-color;
            color: $navbar-brand-color !important;

            & img {
                height: 1.5em;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}