<div class="jumbotron">
  <h2>SPARQL query</h2>
  {{#bs-form}}
    {{#if savedQueries.length}}
      {{#power-select options=savedQueries placeholder="Saved queries" selected=query allowClear=true noMatchesMessage="Hit enter to create new query." onchange=(action "selectQuery")
      onkeydown=(action "createOnEnter") as |savedQuery|}}
        {{savedQuery.id}}
      {{/power-select}}
    {{/if}}
    {{bs-textarea name="query" required=true autofocus=true value=queryContent rows=10}}
    {{#bs-button type="primary" icon="glyphicon glyphicon-search" action="query" disabled=result.isPending}}execute{{/bs-button}}
    {{#bs-button icon="glyphicon glyphicon-save" action="save" disabled=(and query (not query.hasDirtyAttributes))}}
      save{{/bs-button}}
    {{#if (and query (not query.isNew))}}
      {{#bs-button icon="glyphicon glyphicon-remove" action="delete"}}delete{{/bs-button}}
    {{/if}}
    {{bs-form-element controlType="checkbox" label="Map" value=isMap}}
  {{/bs-form}}
</div>
{{#if result.isSettled}}
  {{sparql-result queryType=result.queryType result=result.content.content error=result.reason removePrefix=result.removePrefix isMap=isMap}}
{{/if}}