.external-services-listing {
  display: flex;
  text-align: center;
  .list-group-item {
    margin-bottom: 0px;
    border: 0;
    padding: 0px;
    margin: 0.75rem 1.25rem;
  }
  a,
  a:hover {
      text-decoration: none;
  }
  li {
    width: 100%;
    i {
        margin-right: 5px;
    }
  }
}