.system-status {
  background-color: #434343;
  a,
  a:hover {
      text-decoration: none;
  }
  .system-status-body{
    color: white;
  }
  .panel-header {
    background-color: #5ABFD7;
    text-align: right;
    padding-right: 5px;
    line-height: 2rem;
    font-size: 20px;
    .history-icon,
    .tasks-icon,
    .activity-icon,
    .no-activity-icon {
      cursor: pointer;
    }
  }
  .tasks-table {
    margin: 5px 15px;
    width: calc(100% - 30px);

    .task-progress-cell progress {
      display: block;
    }
    .task-status-cell {
      float: right;
      i {
        padding-right: 10px;
      }
    }
  }
  .no-tasks-message {
    text-align: center;
  }
}
