.system-status {
  background-color: #434343;
  @include scrollbar();
  a,
  a:hover {
      text-decoration: none;
  }

  .system-status-body{
    max-height: 20em;
  }
  .system-history-body{
    max-height: 10em;
  }

  .system-status-body, .system-history-body{
    color: white;
    overflow-y: auto;
  }

  .panel-header {
    background-color: #5ABFD7;
    text-align: right;
    padding-right: 5px;
    line-height: 2rem;
    font-size: 20px;
    .history-icon,
    .tasks-icon,
    .activity-icon,
    .no-activity-icon {
      cursor: pointer;
    }
  }
  .tasks-table {
    margin: 5px 15px;
    width: calc(100% - 30px);

    .task-progress-cell progress {
      display: block;
    }
    .task-status-cell {
      float: right;
      i {
        padding-right: 10px;
      }
    }
  }
  .sparql-history-container {
  }
  .sparql-history-table {
    margin: 5px 15px;
    width: calc(100% - 30px);

    .sparql-history-content-cell {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: calc(100% - 11rem);
      max-width: 0;
    }
    .sparql-history-time-cell {
      width: 13rem;
      text-align: center
    }
    .sparql-history-copy-cell {
      width: 1.5rem;
      text-align: center
    }
  }

  .no-tasks-message, .sparql-history-no-queries {
    text-align: center;
  }
}
