.contact-container{
  display: flex;
  flex-direction: row;
}

.contact-description-container{
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-image-container{
  width: 64px;
  margin-right: 0.5em;
  text-align: center;
}

.contact-no-image{
  width: 58px;
  height: 58px;
  line-height: 75px;
  font-size: 55px;
  border: 1px solid lightgray;
  overflow: hidden;
  color: white;
  vertical-align: middle;
  background-color: lightgray;
}

.contact-image{
  width: 60px;
  height: 60px;
}