$timeline-panel-width: 500px;
$timeline-panel-switch-width: 600px;

.timeline-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  &.details{
    display: flex;
    flex-direction: row;
  }
}

.timeline-map{
  margin: 0;
  padding: 0;
  order: 2;
  &.simple{
    width: 100%;
    position: absolute;
    height: 100%;
  }
  &.details{
    display: none;
    @media (min-width: $timeline-panel-switch-width) {
      display: block;
      width: auto;
      position: static;
      flex: 1;
    }
  }
}

.timeline-map-container{
  height: 100%;
  .map-container{
    height: 100%;
  }

  .ol-zoom{
    top: auto;
    left: 1.0em;
    bottom: 1.5em;
    right: auto;
  }
}

.timeline-panel{
  top: 0;
  margin: 0;
  padding: 0;
  order: 1;
  @media (min-width: $timeline-panel-switch-width) {
    width: $timeline-panel-width;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &.details{
    height: 100%;
  }
}

.timeline-details, .timeline-header{
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.06), 0 3px 6px rgba(0,0,0,.26);
  .app-body-header.jumbotron.title{
    padding: 0.5rem 2rem;
    margin-bottom: 0;
  }
}

.timeline-details{
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  display: none;
  height: 100%;
  &.details{
    display: block;
  }
  -webkit-transition: opacity .218s cubic-bezier(0.4,0.0,0.2,1);
  -moz-transition: opacity .218s cubic-bezier(0.4,0.0,0.2,1);
  -o-transition: opacity .218s cubic-bezier(0.4,0.0,0.2,1);
  transition: opacity .218s cubic-bezier(0.4,0.0,0.2,1);
}

.timeline-stay-icon{
  z-index: 1;
  position: relative;
}

.timeline{
  position:relative;
}
.timeline-stay-column{
  & > span.timeline-stay-index{
    float: right;
    color: #fff;
    padding: 0.05em 0.45em 0.05em 0.45em;
    background-color: #37abc8;
    border-radius: 1em;
    border: 1px solid #164450;
    line-height: normal;
    margin-left: 0.5em;
  }
  & > span.timeline-event-count{
    float: right;
    line-height: normal;
    color: #fff;
    padding: 0.05em 0.45em 0.05em 0.45em;
    background-color: #c84137;
    border: 1px solid #501a16;
  }
  i {
    margin-right: 0.5em;
  }
}

.timeline-row{
  td{
    border: 0;
  }
  &:first-child > .timeline-line-column{
    &::before {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  &:last-child > .timeline-line-column{
    &::before {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.timeline-line-column{
  position:relative;
  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    height: 100%;
    width: 18px;
    left: 10px;
    top: 0;
    background: #d7e4ed;
  }
}

.timeline-details-header{
  margin: 5px 10px 15px 20px;
}

.timeline-details-header-date{
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.timeline-details-range{
  margin: 1rem;
}

.timeline-details-header-buttons{
  float: right;
}

.timeline-header-date-bar{
  padding: 0.5rem 1rem;
}

.timeline-header-input-date{
  width: 110px;
  display: inline-block;
}

.timeline-header-input-time-zone{
  float: right;
  width: 200px;
  display: inline-block;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
}

.picker__select--month, .picker__select--year{
  padding: 0.25em 0.5em;
}