<div class="app-header">
  <nav class="navbar navbar-dark">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="mainNavbar">
      {{#link-to "index" class="navbar-brand"}}
        <img src="/assets/images/app-logo.svg">
        Thymeflow
      {{/link-to}}
      <ul class="nav navbar-nav">
        <li class="nav-item">{{#link-to "sparql" class="nav-link"}}<i class="fa fa-code"></i> Query{{/link-to}}</li>
        <li class="nav-item">{{#link-to "timeline" class="nav-link"}}<i class="fa fa-clock-o"></i> Timeline{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>
<div class="app-body">{{outlet}}</div>
<div class="app-footer">{{system-status tasks=model}}</div>