<div class="applications-container">
  <div class="app-body-header jumbotron title">
    <h1><i class="fa fa-th" aria-hidden="true"></i> Thymeflow</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
        {{#link-to "data-services"}}<i class="fa fa-plug"></i> SERVICES{{/link-to}}
      </div>
      <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
        {{#link-to "query"}}<i class="fa fa-code"></i> QUERY{{/link-to}}
      </div>
      <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
        {{#link-to "timeline"}}<i class="fa fa-clock-o"></i> TIMELINE{{/link-to}}
      </div>
      <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
        {{#link-to "contacts"}}<i class="fa fa-users"></i> CONTACTS{{/link-to}}
      </div>
   </div>
  </div>
</div>