<div class="jumbotron title">
  <div class="container">
    <h1><i class="fa fa-th" aria-hidden="true"></i> THYMEFLOW</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
      <a href="/data-services"><i class="fa fa-plug"></i> SERVICES</a>
    </div>
    <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
      <a href="/query"><i class="fa fa-code"></i> QUERY</a>
    </div>
    <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
      <a href="/timeline"><i class="fa fa-clock-o"></i> TIMELINE</a>
    </div>
    <div class="app-home-link col-md-3 col-sm-4 col-xs-6">
      <a href="/query"><i class="fa fa-users"></i> CONTACTS</a>
    </div>
 </div>
</div>