<div class="container-fluid">
  <div class="row">
    <div class="col-md-6"><i class="fa fa-database" aria-hidden="true"></i>Services</div>
    <div class="col-md-6"><i class="fa fa-plus" aria-hidden="true"></i></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">Services placeholder</div>
    <div class="col-md-2"></div>
  </div>
</div>