<div class="row">
  <div class="col-md-6">
    <i class="fa fa-database" aria-hidden="true"></i>
    {{#link-to "data-services" class="nav-link"}}
    <span>Services</span>
    {{/link-to}}
  </div>
</div>
<div>
  {{model.name}}
</div>