<div class="app-body-header jumbotron title">
  <h1><i class="fa fa-database" aria-hidden="true"></i> Services</h1>
  <div class="app-body-header-command">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
</div>
<div class="container">
  {{#if model}}
    <div class="data-services row">
      {{#each model as |service|}}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
          {{data-service service=service}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="no-services-message">There are currently no services available.</div>
  {{/if}}
</div>